<div class='footer'>
  <div class='main-body-width'>
    <div class='flexbox'>
      <div style='padding-left:1%;'>
        <div class='footer-social-links-title'>SOCIAL LINKS</div>

        <ul class='social-links'>
          <li><a href='{{facebook_url}}'>
            <img src='/assets/images/QP_social_FB_light.png'/>
          </a></li>
          <li><a href='{{twitter_url}}'>
            <img src='/assets/images/QP_social_TW_light.png'/>
          </a></li>
          <li><a href='{{@blog.url}}/rss/'>
            <img src='/assets/images/QP_social_RSS_light.png'/>
          </a></li>
        </ul>
      </div>

      <div>
        <div class='footer-links-title'>ARTICLES</div>

        <div class='flexbox'>
          <ul class='footer-links'>
            <li><a href='/tag/features'>Features</a></li>
            <li><a href='/north-america'>North America</a></li>
            <li><a href='/europe'>Europe</a></li>
            <li><a href='/australia'>Australia</a></li>
          </ul>

          <ul class='footer-links'>
            <li><a href='/south-america'>South America</a></li>
            <li><a href='/africa'>Africa</a></li>
            <li><a href='/asia'>Asia</a></li>
            <li><a href='/tag/international'>International</a></li>
          </ul>
        </div>
      </div>

      <div class='flexbox'>
        <div>
          <a href="{{@blog.url}}">
            <img class='footer-logo' src='/assets/images/QP_Footer_Logo.png'/>
          </a>
        </div>

        <div>
          <div class='footer-links-title'>MORE</div>

          <ul class='footer-links'>
            <li><a href='/about'>About</a></li>
            <li><a href='/jobs'>Jobs</a></li>
            <li><a href='/tag/archive'>Archive</a></li>
            <li><a href='/staff'>Staff</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
