<div class='header-stripe'></div>

  <div class='main-body-width'>
    <div class='header'>
      <a class='header-image-link' href='/'>
        <img src="/assets/images/QP_Banner.png"/>
      </a>

      <div class='header-controls'>
        <ul class='header-nav-links'>
          <li><a href='/'>HOME</a></li>
          <li><a href='/about'>ABOUT</a></li>
          <li><a href='/jobs'>JOBS</a></li>
          <li><a href='/tag/archive'>ARCHIVE</a></li>
          <li><a href='/staff'>STAFF</a></li>
        </ul>

        <ul class='social-links'>
          <li><a href='{{facebook_url}}'>
            <img src='/assets/images/QP_social_FB_dark.png'/>
          </a></li>
          <li><a href='{{twitter_url}}'>
            <img src='/assets/images/QP_social_TW_dark.png'/>
          </a></li>
          <li><a href='{{@blog.url}}/rss/'>
            <img src='/assets/images/QP_social_RSS_dark.png'/>
          </a></li>
        </ul>


      </div>
    </div>

    <div class='menu-bar'>
      <ul class='menu-bar-items'>
        <li><a href='/tag/features'>FEATURES</a></li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/north-america'>NORTH AMERICA</a>
          <div class='dropdown-content'>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/europe'>EUROPE</a>
          <div class='dropdown-content'>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>          
          </div>
        </li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/australia'>AUSTRALIA</a>
          <div class='dropdown-content'>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/south-america'>SOUTH AMERICA</a>
          <div class='dropdown-content'>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/africa'>AFRICA</a>
          <div class='dropdown-content'>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/asia'>ASIA</a>
          <div class='dropdown-content'>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li><a href='/tag/international'>INTERNATIONAL</a></li>
      </ul>
    </div>
  </div>
