<div class='header-stripe'></div>

  <div class='main-body-width'>
    <div class='header'>
      <a class='header-image-link' href='/'>
        <img src="/assets/images/QP_Banner.png"/>
      </a>

      <div class='header-controls'>
        <ul class='header-nav-links'>
          <li><a href='/'>HOME</a></li>
          <li><a href='/about'>ABOUT</a></li>
          <li><a href='/jobs'>JOBS</a></li>
          <li><a href='/tag/archive'>ARCHIVE</a></li>
          <li><a href='/staff'>STAFF</a></li>
        </ul>

        <ul class='social-links'>
          <li><a href='{{facebook_url}}'>
            <img src='/assets/images/QP_social_FB_dark.png'/>
          </a></li>
          <li><a href='{{twitter_url}}'>
            <img src='/assets/images/QP_social_TW_dark.png'/>
          </a></li>
          <li><a href='{{@blog.url}}/rss/'>
            <img src='/assets/images/QP_social_RSS_dark.png'/>
          </a></li>
        </ul>


      </div>
    </div>

    <div class='menu-bar'>
      <ul class='menu-bar-items'>
        <li><a href='/tag/features'>FEATURES</a></li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/north-america'>NORTH AMERICA</a>
          <div class='dropdown-content'>
            <a href="/tag/usa_great_lakes">USQ - Great Lakes</a>
            <a href="/tag/usa_midwest">USQ - Midwest</a>
            <a href="/tag/usa_mid_atlantic">USQ - Mid Atlantic</a>
            <a href="/tag/usa_west">USQ - West</a>
            <a href="/tag/usa_south">USQ - South</a>
            <a href="/tag/usa_southwest">USQ - Southwest</a>
            <a href="/tag/usa_northeast">USQ - Northeast</a>
            <a href="/tag/mlq">MLQ</a>
            <a href="/tag/mexico">Mexico</a>
          </div>
        </li>
        <li class='dropdown'>
          <a class='dropbtn' href='/tag/europe'>EUROPE</a>
          <div class='dropdown-content'>
            <a href="/tag/uk">UK</a>
            <a href="/tag/france">France</a>
            <a href="/tag/italy">Italy</a> 
            <a href="/tag/germany">Germany</a> 
            <a href="/tag/belgium">Belgium</a> 
            <a href="/tag/spain">Spain</a> 
            <a href="/tag/catalonia">Catalonia</a> 
            <a href="/tag/netherlands">Netherlands</a> 
            <a href="/tag/poland">Poland</a> 
            <a href="/tag/slovakia">Slovakia</a> 
            <a href="/tag/slovenia">Slovenia</a> 
            <a href="/tag/norway">Norway</a> 
            <a href="/tag/turkey">Turkey</a>  
          </div>
        </li>
        <li><a href='/tag/australia'>AUSTRALIA</a></li>
        <li><a href='/tag/south-america'>SOUTH AMERICA</a></li>
        <li><a href='/tag/africa'>AFRICA</a></li>
        <li><a href='/tag/asia'>ASIA</a></li>
        <li><a href='/tag/international'>INTERNATIONAL</a></li>
      </ul>
    </div>
  </div>
