{{!< default}}

<div class='main-body-width'>

  <h1 class='article-title'>Latest Articles</h1>
  <div class='article-title-underline'></div>

  <div class='flexbox'>
    <div class='article'>
    {{#get "posts" limit=@blog.posts_per_page}}
      <div class='article-body'>
        {{> loop}}
      </div>
    </div>
    {{/get}}
    {{> sidebar}}
  </div>
</div>

{{> footer}}
