{{!< default}}

<div class='main-body-width'>

  <h1 class='article-title'>Search Results</h1>
  <div class='article-title-underline'></div>

  <div class='flexbox'>
    <div class='article'>
      <section id="results" class='menu-bar-results'>
        <ul id="searched-posts">
          
        </ul>
      </section>
    </div>
    {{> sidebar}}
  </div>
</div>

{{> footer}}
