/***** menu *****/

.menu-bar {
  width: 100%;
  background-color: #000000;
  margin-bottom: 16px;
}

.menu-bar:after {
  content: "";
  display: table;
  clear: both;
}

/***** menu items *****/

.menu-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
}

.menu-bar-items li {
  float: left;
  font-family: 'league gothic', sans-serif;
  font-size: x-large;
  color: #FFFFFF;
}

/*.menu-bar-items a:hover {
  color: #999999;
}*/

.menu-bar-items li a, .dropbtn{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.menu-bar-items li a:hover, .dropdown:hover .dropbtn {
  background-color: #50A25F;
}

.menu-bar-items li.dropdown {
  display: inline-block;
}

.menu-bar-items .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 20;
}
.menu-bar-items .dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}
.menu-bar-items .dropdown-content a:hover {background-color: #50A25F;}
.menu-bar-items .dropdown:hover .dropdown-content {
  display: inline-block;
}

/***** search box *****/

.menu-bar-search {
  width: 180px;
  height: 20px;
  float: right;
  background-color: #999999;
  padding: 8px 8px 8px 12px;
}

.menu-bar-search > a > img,
.menu-bar-search > a > input[type="image"] {
  width: 20px;
  float: left;
  border-bottom: unset;
}

.menu-bar-search > input {
  width: 152px;
  height: 20px;
  float: right;
  background-color: #999999;
  outline: 0;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-size: 13px;
  line-height: 13px;
}

.menu-bar-results {

}

/***** nice-menu overrides *****/

ul.nice-menu,
ul.nice-menu ul {
    background: black;
}

ul.nice-menu .menuparent > a {
    padding: 0;
}

ul.nice-menu:after {
    content: unset;
    display: unset;
}
